.App {
    margin-top: 2rem;
}

.container {
    width: 100%;
    max-width: 800px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.title {
    font-size: 1.6rem;
    margin: 3rem 0 1rem;
}

input {
    display: flex;
    margin-top: 3px;
    padding: 0 10px;
    color: #ccc;
    background-color: #144;
    border: 1px solid #1d7d7d;
    border-radius: 5px;
    height: 40px;
    outline: none;
}

.inputArea p {
    margin-left: 4px;
}

button {
    align-items: center;
    padding: 10px;
    cursor: pointer;
    margin-top: 27px;
    border-radius: 5px;
    border: none;
    background-color: #2c73d2;
    color: #FFF;
    height: 40px;
}

.table1 {
    width: 600px;
    background-color: #144;
    color: #ddd;
    padding: 20px 0;
    box-shadow: 0px 0px 5px #000001;
    border-radius: 5px;
    max-width: 800px;
    margin: 20px auto;
    word-break: break-all;
}

tbody .icon-trash {
    margin-top: 10px;
    cursor: pointer;
    background-color: transparent;
}

th,
td {
    text-align: center;
    justify-content: space-between;
    border-bottom: 1px solid #115050;
    padding-bottom: 5px;
}

.table2 {
    margin-top: 40px;
}

@media(max-width: 500px) {}